.container{
   
    /* width:100%;
    height:100%; */
    margin-left:10px;
}

.inputBoxLogin{
    width:70%;
    height:40px;
   margin-top:10px;
   padding:10px;
   border-radius: 10px;
   border:1px solid black;
   margin-bottom:15px;
}

.icon{
    color:black;
}

.icons{
    display:flex;
    justify-content:space-between;
    width:90%;
    /* gap:10px; */
    /* margin-left:auto;
    margin-right:10px; */
}

.cardContainer{
    height:70px;
    width:200px;
    background-color:#FFB5E3;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.createCategoryButton{
    background-color:lightblue;
    border-radius:8px;
    width:12%;
    height:40px;
    justify-content:center;
    align-items:center;
    display:flex;
    align-self:flex-end;
    margin:10px;
    cursor: pointer;
}

.cardsContainer{
    /* display:flex;
    gap:10px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.buttonContainer{
    display:flex;
    justify-content:flex-end;
}

.modalContainer{
    width:500px;
    height:250px;
    background-color:#DCE1E3;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    display:flex;
    flex-direction:column;
}

.createCategorySubmitButton{
    background-color:black;
    width:200px;
    height:40px;
   margin-top:20px;
   color:white;
   font-size:16px;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.buttons{
    display:flex;
    justify-content:space-between;
    width:70%;
}

.cancelButton{
    background-color:red;
    width:100px;
    height:40px;
   margin-top:20px;
   color:white;
   font-size:16px;
   display:flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.createCategoryDataContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height:100%;
    cursor: pointer;
}